{% extends "base.html" %}

{%block title%}Index!{%endblock%}

{%block main_content%}
<script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="static/main.js"></script>

<style>
	body {
		padding-top: 9em;
		background-color: #1E8BC3;
		color: white;
	}
</style>

	<div style="text-align:center">
		<header style="margin-bottom: 12em;">
			<h1>Pun-tionary</h1>
			<h4> let's get punny! </h4>
		</header>

		<input id="input">

		<input type="submit" id="submit" placeholder="Type a sentence!">

		<p id="test"></p>
	</div>



{%endblock%}
